.form-questions {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 238px;
  width: 978px;
  margin: 0 auto;
  box-sizing: border-box;
  gap: 30px;
  z-index: 2;
}

input {
  box-sizing: border-box;
  padding: 22px 30px;
  width: 100%;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  color: rgba($color: $BaseDark, $alpha: 0.5);
  border: 1px solid rgba($SecondaryColor, $alpha: 0);
}

input:hover {
  color: rgba($SecondaryColor, $alpha: 1);
  border: 1px solid rgba($SecondaryColor, $alpha: 1);
}

input:focus,
input:active {
  border: 1px solid rgba(#1c3374, $alpha: 1);
  outline: none;
}

input:disabled {
  color: rgba(2, 102, 193, 0.1);
  border: 1px solid rgba($SecondaryColor, $alpha: 0);
}

.form-questions__input-wrapper {
  position: relative;

  span {
    position: absolute;
    top: 72px;
    left: 0;
    color: #ff121f;
  }
}

.form-questions__input-wrapper.is-invalid input {
  border: 1px solid  #ff121f;
}

.form-questions__button {
  width: 238px;
}

@media (max-width: $tablet-maxwidth) {
  .form-questions {
    display: flex;
    flex-direction: column;
    width: 34.5%;
    gap: 8px;
  }

  .form-questions__input-wrapper span {
    position: static;
    display: block;
    margin-bottom: 6px;
  }

  .form-questions__button {
    width: 100%;
  }

  input {
    width: 100%;
    padding: 15px 14px;
    font-size: 14px;
    line-height: 14px;
  }

  .form-questions__input-wrapper:last-of-type input {
    margin-bottom: 6px;
  }
}

@media (max-width: $mobile-maxwidth) {
  .form-questions {
    width: 100%;
    gap: 7px;
  }

  .form-questions__button {
    width: 100%;
  }

  input {
    width: 100%;
    padding: 15px 14px;
    font-size: 14px;
    line-height: 14px;
  }

  .form-questions__input-wrapper:last-of-type input {
    margin-bottom: 0;
  }
}
