.gallery {
  width: 100%;
  max-width: 1440px;
  padding-top: 115px;
  padding-bottom: 0;
  margin: 0 auto;
  color: $BaseDark;
  overflow: hidden;
  scroll-behavior: smooth;
}

.gallery__wrapper {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}

.gallery__title {
  margin: 0;
  margin-bottom: 24px;
  font-size: 35px;
  font-weight: 800;
  line-height: 35px;
}

.gallery__title-shadow {
  top: -70px;
}

.gallery__description {
  margin: 0;
  margin-bottom: 45px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

  span {
    display: block;
  }
}

.gallery__navigation {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}

.gallery__button-prev,
.gallery__button-next {
  top: -87px;
}

.gallery__slider {
  width: 1200px;
  margin: 0 auto;
}

.gallery__slider-wrapper .swiper-slide {
  width: 275px;
}

.gallery__slider-wrapper .swiper-slide:nth-child(2n) {
  width: 298px;
}

.gallery.no-js .gallery__slider-wrapper {
  flex-wrap: wrap;
  gap: 10px;
}

@media (max-width: 1439px) {
  .gallery__wrapper {
    width: 1180px;
  }

  .gallery__navigation {
    width: 1190px;
  }
}

@media (max-width: $tablet-maxwidth) {
  .gallery {
    padding-top: 38px;
    padding-bottom: 0;
  }

  .gallery__wrapper {
    box-sizing: border-box;
    width: 100%;
    padding-left: 45px;
    padding-right: 45px;
  }

  .gallery__title {
    margin-bottom: 24px;
    font-size: 25px;
    line-height: 25px;
  }

  .gallery__title-shadow {
    top: -52px;
  }

  .gallery__description {
    margin-bottom: 36px;
    padding-right: 260px;
    font-size: 14px;
    line-height: 22px;

    span {
      display: inline;
    }
  }

  .gallery__slider {
    width: 100%;
    aspect-ratio: 768 / 449;
  }

  .gallery__navigation {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }

  .gallery__slider-wrapper {
    aspect-ratio: 768 / 449;
  }

  .gallery__slider-wrapper .swiper-slide {
    width: 275px;
    aspect-ratio: 275 / 449;
  }

  .gallery__slider-wrapper .swiper-slide:nth-child(2n) {
    width: 298px;
    aspect-ratio: 298 / 449;
  }
}

@media (max-width: $mobile-maxwidth) {
  .gallery {
    padding-top: 15px;
  }

  .gallery__wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }

  .gallery__title {
    margin-bottom: 14px;
    font-size: 22px;
    line-height: 22px;
  }

  .gallery__title-shadow {
    top: -29px;
  }

  .gallery__description {
    margin-bottom: 65px;
    padding-right: 20px;
    font-size: 12px;
    line-height: 18px;
  }

  .gallery__button-prev,
  .gallery__button-next {
    top: -50px;
  }

  .gallery__slider-wrapper {
    width: 100%;
    height: 260px;
  }

  .gallery__slider-wrapper .swiper-slide {
    height: 260px;
    width: 159px;
    aspect-ratio: 159 / 260;
  }

  .gallery__slider-wrapper .swiper-slide:nth-child(2n) {
    width: 159px;
    aspect-ratio: 159 / 260;
  }
}
