
.navigation-slider__button-prev,
.navigation-slider__button-next {
  position: absolute;
  box-sizing: border-box;
  width: 36px;
  height: 35px;
  border: 1px solid $SecondaryColor;
  background: $SecondaryColor;
  right: 1px;
  top: -90px;
}

.navigation-slider__button-prev {
  right: 44px;
}


.navigation-slider__button-prev::after,
.navigation-slider__button-next::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 14px;
  height: 9px;
  background: $BaseWhite;
  mask-image: url("../../img/right-arrow.svg");
  content: "";
}

.navigation-slider__button-prev::after {
  mask-image: url("../../img/left-arrow.svg");
}

.navigation-slider__button-prev:hover,
.navigation-slider__button-next:hover,
.navigation-slider__button-prev:focus,
.navigation-slider__button-next:focus {
  background: none;
  border: 1px solid #1c3374;
}

.navigation-slider__button-prev:hover.navigation-slider__button-prev::after,
.navigation-slider__button-next:hover.navigation-slider__button-next::after,
.navigation-slider__button-prev:focus.navigation-slider__button-prev::after,
.navigation-slider__button-next:focus.navigation-slider__button-next::after {
  background-color: #1c3374;
}

.navigation-slider__button-prev:active,
.navigation-slider__button-next:active {
  background-color: #1c3374;
  border: 1px solid #1c3374;
}

.navigation-slider__button-prev:active.navigation-slider__button-prev::after,
.navigation-slider__button-next:active.navigation-slider__button-next::after {
  background-color: $BaseWhite;
}

.navigation-slider__button-prev.swiper-button-disabled,
.navigation-slider__button-next.swiper-button-disabled,
.navigation-slider__button-prev:hover.swiper-button-disabled,
.navigation-slider__button-next:hover.swiper-button-disabled,
.navigation-slider__button-prev:focus.swiper-button-disabled,
.navigation-slider__button-next:focus.swiper-button-disabled,
.navigation-slider__button-prev:active.swiper-button-disabled,
.navigation-slider__button-next:active.swiper-button-disabled {
  background-color: rgba(2, 102, 193, 0.1);
  border: 1px solid rgba(2, 102, 193, 0.1);
}

.navigation-slider__button-prev:hover.swiper-button-disabled.navigation-slider__button-prev::after,
.navigation-slider__button-next:hover.swiper-button-disabled.navigation-slider__button-next::after,
.navigation-slider__button-prev:focus.swiper-button-disabled.navigation-slider__button-prev::after,
.navigation-slider__button-next:focus.swiper-button-disabled.navigation-slider__button-next::after,
.navigation-slider__button-prev:active.swiper-button-disabled.navigation-slider__button-prev::after,
.navigation-slider__button-next:active.swiper-button-disabled.navigation-slider__button-next::after {
  background-color: $BaseWhite;
}

.navigation-slider__button-prev:disabled,
.navigation-slider__button-next:disabled {
  background-color: rgba(2, 102, 193, 0.1);
  border: 1px solid rgba(2, 102, 193, 0.1);
}
