.tours-card {
  display: grid;
  grid-template-columns: 1fr;

  picture {
    display: flex;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  p {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
}

.tours-card__info {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 108px 125px 1fr;
  row-gap: 10px;
  padding: 206px 20px 10px;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;

  :nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  :nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  :nth-child(3) {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }

  :nth-child(4) {
    display: inline;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }

  :nth-child(5) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  :nth-child(6) {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    padding-left: 23px;
  }

  :nth-child(7) {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    justify-self: end;
    padding-left: 23px;
  }
}

.tours-card__title {
  display: grid;
  margin: 0;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.tours-card__button {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  height: fit-content;
  font-size: 12px;
  line-height: 12px;
  padding: 8px 25px 6px 39px;
}

.tours-card__button::before {
  position: absolute;
  left: 23px;
  top: 50%;
  transform: translateY(-50%);
  width: 9px;
  height: 12px;
  background: url("../../img/tours/pin.svg");
  content: "";
}

.tours-card__days,
.tours-card__nights {
  position: relative;
  align-items: flex-end;
  padding-top: 9px;
  padding-right: 14px;
}

.tours-card__nights {
  padding-right: 0;
}


.tours-card__days span::before,
.tours-card__nights span::before {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 5px;
  left: 37px;
  background: url("../../img/tours/sun.svg");
  content: "";
}

.tours-card__nights span::before {
  background: url("../../img/tours/moon.svg");
  left: 25px;
}

.tours-card__dificulty,
.tours-card__dates,
.tours-card__group {
  margin-top: 10px;
  font-size: 12px;
  font-weight: 300;
  line-height: 100%;

  :first-child {
    margin-bottom: 8px;
  }

  :last-child {
    font-size: 13px;
    font-weight: 700;
    line-height: 13px;
  }
}


@media (max-width: $tablet-maxwidth) {
  .tours-card__image {
    width: 1000%;
    height: auto;
  }

  .tours-card__info {
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 378px;
    box-sizing: border-box;
    padding: 64% 20px 10px;

    :nth-child(4) {
      display: inline;
      grid-column: 1 / 4;
      grid-row: 2 / 3;
    }

    :nth-child(6) {
      padding-left: 10px;
    }
  }

  .tours-card__button::before {
    left: 16px;
  }

  .tours-card__title span {
    display: block;
  }

  .tours-card__button {
    padding: 8px 23px 6px 30px;
  }

  .tours-card__days span::before {
    left: 15px;
  }

  .tours-card__nights span::before {
    left: 14px;
  }
}

@media (max-width: $mobile-maxwidth) {
  .tours-card__info {
    grid-template-columns: 35% 40% 1fr;
    padding: 69.5% 20px 10px;
    max-width: 400px;

    :nth-child(1) {
      grid-column: 1 / 3;
      grid-row: 2 / 3;
    }

    :nth-child(2) {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }

    :nth-child(3) {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }

    :nth-child(4) {
      display: inline;
      grid-row: 3 / 4;
    }

    :nth-child(5) {
      grid-row: 4 / 5;
    }

    :nth-child(6) {
      grid-row: 4 / 5;
      padding-left: 0;
    }

    :nth-child(7) {
      grid-row: 4 / 5;
      justify-self: end;
      padding-left: 0;
    }
  }

  .tours-card__days,
  .tours-card__nights {
    padding-top: 0;
    padding-right: 14px;
  }

  .tours-card__days span {
    padding-right: 4px;
    margin-bottom: -2px;
  }

  .tours-card__days span::before,
  .tours-card__nights span::before {
    top: -5px;
    left: 0;
  }

  .tours-card__title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 13px;
  }

  .tours-card__button {
    width: 52%;
    margin-bottom: 5px;
  }

  .tours-card__button::before {
    left: 15px;
  }

  .tours-card__dificulty,
  .tours-card__dates,
  .tours-card__group {
    :first-child {
      margin-bottom: 4px;
    }

    :last-child {
      font-size: 12px;
      padding-bottom: 13px;
    }
  }
}
