.tour-card {
  box-sizing: border-box;
  position: relative;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: flex-start;
  width: $desktop-width;
  padding-top: 182px;
  padding-bottom: 79px;
  overflow: visible;
}

.tour-card__title {
  margin: 0;
  margin-bottom: 24px;
  padding-right: 200px;
  font-size: 77px;
  font-style: normal;
  font-weight: 800;
  line-height: 100%;
  z-index: 5;

  span {
    display: block;
  }
}

.tour-card__description {
  margin: 0;
  margin-bottom: 35px;
  padding-right: 730px;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.tour-card__video {
  position: absolute;
  width: 482px;
  height: 317px;
  top: 300px;
  right: 0;

  picture {
    position: relative;
    display: flex;
    z-index: 4;
    justify-content: end;
  }
}

.tour-card__photo {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr;
  width: 410px;
  top: 296px;
  right: 0;

  picture {
    position: relative;
    display: flex;
    z-index: 4;
    justify-content: end;
  }
}

.tour-card__card1,
.tour-card__card2 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.tour-card__card1 {
  transform: translate(-102px, -94px);
  width: 308px;
  height: 407px;
}

.tour-card__card2 {
  width: 277px;
  height: 366px;
}

.tour-card__audio {
  position: absolute;
  width: 340px;
  height: 220px;
  top: 300px;
  right: 81px;
  background-color: #c0dbf7;
}

.tour-card__button {
  display: flex;
  box-sizing: border-box;
  margin-bottom: 148px;
  width: 220px;
  height: fit-content;
  justify-content: center;
  align-items: center;
}

.tour-card__duration,
.tour-card__dificulty {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  margin: 0;
  padding: 14px 19px;
  padding-left: 40px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  border: 1px solid rgba($color: $BaseWhite, $alpha: 0.5);
}

.tour-card__duration {
  margin-right: 5px;
}

.tour-card__duration::before,
.tour-card__dificulty::before {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  background: url("../../img/hero/moon.svg");
  content: "";
}

.tour-card__dificulty::before {
  background: url("../../img/hero/level.svg");
}

.tour-card__play-button {
  position: absolute;
  top: 42%;
  left: 44%;
  width: 56px;
  height: 56px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid $BaseWhite;
  border-radius: 50%;
  z-index: 5;
}

.tour-card__play-button:hover,
.tour-card__play-button:focus {
  border: 1px solid #000000;
}

.tour-card__play-button:active {
  border: 1px solid #1c3374;
  background: #1c3374;
}

.tour-card__play-button::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 48%;
  width: 12px;
  height: 22px;
  background: url("../../img/play-button.svg");
  content: "";
  z-index: 6;
}

.tour-card__play-button:hover.tour-card__play-button::before,
.tour-card__play-button:focus.tour-card__play-button::before {
  background: url("../../img/play-button-active.svg");
  width: 14px;
  height: 24px;
}

@media (max-width: $tablet-maxwidth) {
  .tour-card {
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: -8px;
    padding-top: 215px;
    padding-bottom: 201px;
    width: 100%;
  }

  .tour-card--kamchatka {
    padding-bottom: 176px;
  }

  .tour-card--audio {
    padding-bottom: 150px;
  }

  .tour-card__video {
    position: relative;
    width: fit-content;
    top: 0;
    margin: 0 auto;
  }

  .tour-card__photo {
    position: relative;
    width: fit-content;
    top: 0;
    margin: 0 auto;
  }

  .tour-card__audio {
    position: relative;
    width: 44%;
    height: auto;
    top: 20px;
    right: auto;
    margin: 0 auto;
    aspect-ratio: 340 / 220;
  }

  .tour-card__card1 {
    transform: translate(-88px, -15px);
    width: 100%;
    height: auto;
  }

  .tour-card__card2 {
    transform: translate(87px, 36px);
    width: 236px;
    height: 315px;
  }

  .tour-card__video-image {
    width: 100%;
    height: auto;
    aspect-ratio: 442 / 300;
  }

  .tour-card__play-button {
    top: 38.5%;
  }

  .tour-card__play-button::before {
    left: 44%;
  }

  .tour-card__title {
    margin-bottom: 12px;
    font-size: 56px;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
  }

  .tour-card__title--kamchatka {
    padding-left: 90px;
    padding-right: 90px;
  }

  .tour-card__title--audio {
    padding-left: 48px;
    padding-right: 48px;
  }

  .tour-card__description {
    padding-left: 165px;
    padding-right: 165px;
    margin-bottom: 26px;
    text-align: center;
  }

  .tour-card__description--kamchatka {
    padding-left: 155px;
    padding-right: 155px;
  }

  .tour-card__description--audio {
    padding-left: 160px;
    padding-right: 160px;
  }

  .tour-card__button {
    width: 27%;
    margin: 0 auto;
    margin-bottom: 49px;
  }

  .tour-card__info {
    display: none;
  }
}

@media (max-width: $mobile-maxwidth) {
  .tour-card {
    padding-top: 181px;
    padding-bottom: 102px;
  }

  .tour-card--kamchatka {
    padding-bottom: 110px;
  }

  .tour-card__title {
    font-size: 30px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 14px;
  }

  .tour-card__description {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 19px;
  }

  .tour-card__button {
    width: 57%;
  }

  .tour-card__video {
    display: none;
  }

  .tour-card__photo {
    display: none;
  }

  .tour-card__audio {
    display: none;
  }
}
