.upcoming-tours {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  overflow-x: clip;
}

.upcoming-tours__wrapper-content {
  width: 1200px;
  margin: 0 auto;
  padding-top: 4px;
}

.upcoming-tours__bg {
  position: absolute;
  box-sizing: border-box;
  width: 837px;
  height: 279px;
  bottom: -135px;
  left: -538px;
  z-index: -1;
}

.upcoming-tours__bg-clouds {
  position: absolute;
  width: 42%;
  height: auto;
  bottom: -653px;
  right: 0;
  object-fit: cover;
  z-index: -1;
}

.upcoming-tours.no-js .upcoming-tours__wrapper {
  position: static;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.upcoming-tours.no-js .upcoming-tours__slide {
  width: 380px;
}

.upcoming-tours__slider {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  height: auto;
  overflow: hidden;
  margin-bottom: 51px;
}

.upcoming-tours__title {
  margin: 0;
  margin-bottom: 53px;
  font-family: "Montserrat", "Atal", sans-serif;
  font-size: 35px;
  font-weight: 800;
  line-height: 35px;
  color: $BaseDark;
}

.upcoming-tours__title-shadow {
  position: absolute;
  top: -67px;
  left: 0;
  font-size: 55px;
  font-weight: 800;
  line-height: 55px;
  color: $BaseDark;
  opacity: 0.03;
}

.upcoming-tours__navigation {
  position: relative;
  width: 1200px;
  margin-bottom: 52px;
}

.upcoming-tours__button-prev,
.upcoming-tours__button-next {
  top: -90px;
}

.upcoming-tours__link-wrapper {
  text-align: center;
}

.upcoming-tours__all {
  margin: 0 auto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.64px;
  text-transform: uppercase;
  color: #2d383f;
}

.tours-card__dificulty-rate {
  position: relative;
  display: block;
  background-image: url("../../img/tours/star.svg");
  background-repeat: repeat-x;
  width: 75px;
  height: 15px;
}

.tours-card__dificulty-rate::after {
  position: absolute;
  height: 15px;
  width: 45px;
  background-image: url("../../img/tours/mark-as-favorite-star.svg");
  background-repeat: repeat-x;
  content: "";
}

.tours-card__dificulty-altay::after {
  width: 30px;
}

@media (max-width: 1439px) {
  .upcoming-tours__bg-clouds {
    display: grid;
    position: absolute;
    width: 602px;
    height: 1364px;
    bottom: -653px;
    right: auto;
    transform: translateX(717px);
  }
}

@media (max-width: $tablet-maxwidth) {
  .upcoming-tours__wrapper-content {
    width: 100%;
    box-sizing: border-box;
    padding-left: 51px;
    padding-right: 51px;
    padding-top: 4px;
  }

  .upcoming-tours__bg {
    display: none;
  }

  .upcoming-tours__bg-clouds {
    position: absolute;
    bottom: -638px;
    height: auto;
    width: 39%;
    right: 0;
    object-fit: contain;
    transform: none;
  }

  .upcoming-tours__title {
    font-size: 25px;
    line-height: 25px;
    margin-left: -5px;
    margin-bottom: 42px;
  }

  .upcoming-tours__title-shadow {
    top: -48px;
    left: 45px;
    font-size: 40px;
    line-height: 40px;
  }

  .upcoming-tours__slider {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
  }

  .upcoming-tours__navigation {
    position: relative;
    width: 100%;
    margin-bottom: 37px;
  }

  .upcoming-tours__button-next {
    top: -72px;
    right: -5px;
  }

  .upcoming-tours__button-prev {
    top: -72px;
    right: 36px;
  }
}

@media (max-width: $mobile-maxwidth) {
  .upcoming-tours__wrapper-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 4px;
  }

  .upcoming-tours__slider {
    margin-bottom: 25px;
  }

  .upcoming-tours__bg-clouds {
    bottom: -236px;
    height: auto;
    width: 56%;
    right: 0;
    object-fit: contain;
  }

  .upcoming-tours__title {
    font-size: 22px;
    line-height: 22px;
    margin-left: 0;
    margin-bottom: 29px;
    padding-right: 75px;
  }

  .upcoming-tours__title-shadow {
    top: -25px;
    left: 15px;
    font-size: 26px;
    line-height: 26px;
  }

  .upcoming-tours__navigation {
    margin-bottom: 28px;
  }

  .upcoming-tours__button-next {
    right: 0;
    top: -70px;
  }

  .upcoming-tours__button-prev {
    right: 41px;
    top: -70px;
  }

  .upcoming-tours__all {
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0.56px;
  }
}
