/* здесь используйте глобальные селекторы img, body, html и так далее*/
html {
  margin: 0;
  height: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  position: relative;
  margin: 0 auto;
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  min-height: 100%;
  font-family: "Montserrat", "Arial", sans-serif;
  color: $BaseWhite;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}
