/* здесь используйте глобальные переменные */
$BaseDark: #2d383f;
$BaseWhite: #ffffff;
$SecondaryColor: #0266c1;

$SlaiderGradient: linear-gradient(143deg, rgba(15, 20, 41, 0.33) 0%, rgba(15, 20, 41, 0) 100%);
$CardsGradient: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 61.9%, rgba(0, 0, 0, 0) 100%);
$BurgerColor: rgba(0, 0, 0, 0.5);

$desktop-width: 1200px;
$tablet-width: 768px;
$tablet-maxwidth: 1199px;
$mobile-width: 320px;
$mobile-maxwidth: 767px;
